.table{
    
    border-bottom: 3px dashed #e3e3e3;
    background: white ;
    text-align: center;
}

.approve{
    font-weight: bold;
    color: rgb(87, 252, 87);
    
}
thead{
    border-bottom:none;
    background: #e3e3e3;
}


.icon{
    margin-left:10px;
    cursor: pointer;
}

h4{
    color: white;
    text-transform: uppercase;
}

.reject{
    font-weight: bold;
    color: rgb(252, 87, 87);
}

.pending{
    font-weight: bold;
    color: rgb(249, 252, 87);
}