<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/homeyy.png" style="width: 60px;" class="img-fluid"><span class="lead text-white">
                HuntAbode</span>
              <p class="lead text-white">Home Searching / Renting Made Easy .</p>
              <div class="btn-wrapper mt-5">
                <a href="javascript:void(0)" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0 mr-4n"
                  (click)="tenantComponent()">

                  <span class="btn-inner--text">I am a <span class="text-info">Tenant </span>🕵</span>
                </a>
                <a href="javascript:void(0)" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0"
                  (click)="ownerComponent()">

                  <span class="btn-inner--text">
                    I am a <span class="text-warning">Landlord </span>👷‍♀️</span>
                </a>
              </div>
              <div class="mt-5">
                <small class="text-white font-weight-bold mb-0 mr-2">*proudly coded by IBM trainees</small>

              </div>
            </div>
          </div>
        </div>
      </div>